/* Other rules */
* {
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

header {
  width: 100%;
  height: 120px;
  padding: 0 100px;
  border-bottom: 1px solid #5bcbd1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: #0eadb6;
  text-decoration-line: none;
  border: 1px solid #0eadb6;
  padding: 10px;
  border-radius: 5px;
}

header nav button:first-child {
  background-color: #c2185b;
  color: white;
  border: none;
  text-decoration-line: none;
  border: 1px solid #c2185b;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

header nav button:nth-child(2) {
  cursor: pointer;
  background-color: #0eadb6;
  color: white;
  text-decoration-line: none;
  border: 1px solid #0eadb6;
  padding: 10px;
  border-radius: 5px;
}

header img {
  width: 100px;
  padding: 15px 0;
  cursor: pointer;
}

/* Filter */

.filter {
  width: 40%;
  height: 61px;
}

.filter input {
  width: 100%;
  height: 40px;
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
  border-radius: 5px;
}

.price-filter-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-price {
  width: 9%;
  height: 20px;
  background-color: #0eadb6;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.check-price-button {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero */

.hero {
  width: 100%;
  position: relative;
}

.hero img {
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.hero div {
  width: 25%;
  height: 200px;
  background-color: #fff;
  position: absolute;
  top: 140px;
  left: 60px;
  padding: 25px;
}

.hero h1 {
  font-size: 34px;
}

.hero button {
  margin-top: 15px;
  font-size: 16px;
  background-color: #0eadb6;
  color: white;
  border: 1px solid #0eadb6;
  padding: 10px;
  border-radius: 5px;
}

.hero p {
  font-size: 14px;
  margin-top: 15px;
  color: #0eadb6;
}

/* Content */

.content {
  width: 90%;
  margin: 80px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.offer-link {
  width: calc((100% - 100px) / 5);
  text-decoration: none;
}

.item {
  width: 100%;
}

.offers-image {
  width: 100%;
  height: 355px;
  object-fit: cover;
}

.offers-description p {
  color: black;
}

/* Offer */

.container-offer {
  background-color: #f5f6f7;
  width: 100%;
  padding-top: 40px;
}

.offer {
  height: 550px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.offer-image {
  height: 100%;
  width: 50%;
}

.container-offer-description {
  width: 35%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.container-offer-description h2 {
  padding: 25px;
  font-size: 24px;
}

.container-offer-description h3 {
  padding: 25px;
  font-size: 16px;
}

.descr {
  padding: 25px;
  font-size: 16px;
  color: #666666;
}

.offer-description {
  padding: 0 15px;
  display: flex;
}

.offer-description div {
  padding: 15px;
}

.offer-description div:first-child p {
  margin-bottom: 10px;
  color: #999999;
}

.offer-description div:last-child p {
  margin-bottom: 10px;
  color: #666666;
}

.buy {
  align-self: center;
  cursor: pointer;
  margin-top: 100px;
  background-color: #0eadb6;
  color: white;
  width: 90%;
  border-radius: 5px;
  padding: 10px 0;
  border: none;
}

/* signup-login */

.signup-login {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.signup-login form {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-login form > input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.signup-login form div {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.wrong {
  color: red;
}
